<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Oh's web lab[Login]</title>
    </head>
    <body style="background:black; color:white">
        <div class="pageheader">
            <br>
            <br>
            <p>장고 게시물</p>
            <p><label>Oh's web lab complete percentage</label></p>
            <progress value="60" max="100"></progress>
        </div>
        <div class= "content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>