<!doctype html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Oh's web lab</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background:black; color:white">
        <div class="pageheader">
            <h3><a href="/admin"><sapn style="position: relative; right:100px;">admin</sapn></a></h3>
            <br>
            <br>
            <!--user.is_authenticated는 인가된 사용자인지 확인 후 오른쪽 상단에 +기호를 나타낼지 말지 결정하는 if문-->
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h2 style="text-align:center; font-size : 50px;"><a href="/">Oh's web lab</a></h2>
        </div>
        <div class="plofile">
            <br>
            <p>프로필</p>
            <br>
            <p> 성별 : 남 </p>
            <p> 좌우명 : 두 번 이상 불평하지 말자 </p>
            <br>
        </div>
        <div class="percentage">
            <p><label>Oh's web lab complete percentage</label></p>
            <progress value="80" max="100" style="text-align:center;"></progress>
        </div>
        <div class= "content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
